
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
    	<img src="assets/imgs/school_lms.png" width="90px" height="90px">
    	<h1>Registration</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
	<ion-stepper #stepper mode="horizontal">
		<ion-step>
			<h2 text-center>User Contract</h2>
			<p text-center>In order to proceed you must confirm the contract terms.</p>
			<h3 text-center>I will provide to the best of my ability the most correct information about the following</h3>
			<ion-grid no-padding>
				<ion-row>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
					<ion-col col-sm-12 col-12 col-md-6>
						<ion-item>
							<ion-label>Select School</ion-label>
							<ion-select>
								<ion-option *ngFor="let school of schools" (ionSelect)="gotoSchool(school)">
									{{school?.name}}
								</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-label>Select VAS</ion-label>
							<ion-select>
								<ion-option *ngFor="let supplier of suppliers" (ionSelect)="gotoSupplier(supplier)">
									{{supplier?.company_name}}
								</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-label>Select Learner</ion-label>
							<ion-select>
								<ion-option *ngFor="let learner of learners" (ionSelect)="gotoLearner(learner)">
									{{learner?.profile?.firstname}}
								</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-label>Select Teacher</ion-label>
							<ion-select>
								<ion-option *ngFor="let teacher of teachers" (ionSelect)="gotoTeacher(teacher)">
									{{teacher?.profile?.firstname}}
								</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-label>Select Parent</ion-label>
							<ion-select>
								<ion-option *ngFor="let parent of parents" (ionSelect)="gotoParent(parent)">
									{{parent?.profile?.firstname}}
								</ion-option>
							</ion-select>
						</ion-item>
					</ion-col>
					<!-- <ion-col col-sm-12 col-12 col-md-6>
						<ion-item text-wrap>
						   <ion-label >My First Name</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[0]" ></ion-checkbox>
						</ion-item>
						<ion-item text-wrap>
						   <ion-label >My Last Name</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[1]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap>
						   <ion-label >My email address</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[2]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap>
						   <ion-label >My title</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[3]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label>My Gender</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[4]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label >My passport or ID number</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[5]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label >My residential address</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[6]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label >My cellphone number</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[7]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label >My home number</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[8]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap >
						   <ion-label >My work number</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[9]"></ion-checkbox>
						</ion-item>
						<ion-item text-wrap no-lines>
						   <ion-label>My role in the education system</ion-label>
						   <ion-checkbox [(ngModel)]="contractPoints[10]"></ion-checkbox>
						</ion-item>
					</ion-col> -->
					<ion-col col-sm-0 col-md-3 col-0>
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-buttons text-center margin-vertical>
	          <button ion-button small round outline ionicStepperNext (click)="checkIfAgreed()">Next&nbsp;&nbsp;
	          <ion-icon name="skip-forward"></ion-icon>
	          </button>
	        </ion-buttons>
		</ion-step>
		<ion-step>
			<h2 text-center>User Profile</h2>
			<ion-grid>
				<ion-row>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
					<ion-col col-sm-12 col-12 col-md-6>
						<ion-item >
						  <ion-label>Title</ion-label>
						  <ion-select [(ngModel)]="user.title" required>
						    <ion-option value="Mr">Mr</ion-option>
						    <ion-option value="Mrs">Mrs</ion-option>
						    <ion-option value="Ms">Ms</ion-option>
						    <ion-option value="Dr">Dr</ion-option>
						    <ion-option value="Other">Other</ion-option>
						  </ion-select>
						</ion-item>
						<ion-item>
						  <ion-label floating>First Name</ion-label>
						  <ion-input type="text" [(ngModel)]="user.firstname" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Last Name</ion-label>
						  <ion-input type="text" [(ngModel)]="user.lastname" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Identity/Passport number</ion-label>
						  <ion-input type="password" [(ngModel)]="user.id_or_password" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Confirm Identity/Passport number</ion-label>
						  <ion-input type="password" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label>Gender</ion-label>
						  <ion-select [(ngModel)]="user.gender" required>
						    <ion-option value="Male">Male</ion-option>
						    <ion-option value="Female">Female</ion-option>
						    <ion-option value="N/A">N/A</ion-option>
						  </ion-select>
						</ion-item>
						<ion-item>
						  <ion-label floating>Cell Number</ion-label>
						  <ion-input type="number" [(ngModel)]="user.cell_number" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Home Number</ion-label>
						  <ion-input type="number" [(ngModel)]="user.home_number"  required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Work Number</ion-label>
						  <ion-input type="number" [(ngModel)]="user.work_number"  required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Email Address</ion-label>
						  <ion-input type="email" [(ngModel)]="user.email"  required></ion-input>
						</ion-item>
						<ion-buttons text-center margin-vertical>
				          <button ion-button round outline small ionicStepperPrevious>
				            <ion-icon name="skip-backward"></ion-icon> &nbsp;&nbsp;Back
				          </button>
				          <button ion-button small round outline ionicStepperNext>Next&nbsp;&nbsp;
				          <ion-icon name="skip-forward"></ion-icon>
				          </button>
				        </ion-buttons>
					</ion-col>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-step>
		<ion-step>
			<h2 text-center>Rica Details</h2>
			<ion-grid>
				<ion-row>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
					<ion-col col-sm-12 col-12 col-md-6>
						<ion-item>
						  <ion-label floating>Street Address:</ion-label>
						  <ion-input type="text" [(ngModel)]="user.residential_address.street_address" 
						  (keyup)="getPredictions($event)" required></ion-input>
						</ion-item>
						<ion-list>
							<ion-item *ngFor="let pred of addPredictions" (click)="selectAddress(pred)">
								{{pred.description}}
							</ion-item>
						</ion-list>
						<ion-item>
						  <ion-label floating>City:</ion-label>
						  <ion-input type="text" [(ngModel)]="user.residential_address.city" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Province:</ion-label>
						  <ion-input type="text" [(ngModel)]="user.residential_address.province" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Postal Code:</ion-label>
						  <ion-input type="text" [(ngModel)]="user.residential_address.postal_code" required></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label floating>Country:</ion-label>
						  <ion-input type="text" [(ngModel)]="user.residential_address.country" required></ion-input>
						</ion-item>
						<ion-item  no-lines text-wrap margin-vertical>
							<h2 text-center>Attachments</h2>
							<p text-center style="color: #f53d3d">
								Attach Proof of Residence (And affidavit if the proof of address doesn't point to you).
							</p>
							<ion-buttons text-center>
								<button ion-button small (click)="chooseProof()">
									<ion-icon style="font-size: 25px" name="attach"></ion-icon> &nbsp;&nbsp;Proof
								</button>
								<button ion-button small (click)="chooseAffidavit()">
									<ion-icon style="font-size: 25px" name="attach"></ion-icon> &nbsp;&nbsp;Affidavit
								</button>
							</ion-buttons>
							<input type="file" #proof hidden="hidden" (change)="updateproof($event)">
							<input type="file" #affidavit hidden="hidden" (change)="updateaffidavitf($event)">
							<div margin *ngIf="proof_attach || affidavit_attach">
								<button ion-button clear full padding>{{proof_attach}}</button>
								<button ion-button clear full padding>{{affidavit_attach}}</button>
							</div>
						</ion-item>
						<ion-buttons text-center margin-vertical>
				          <button ion-button round outline small ionicStepperPrevious>
				            <ion-icon name="skip-backward"></ion-icon> &nbsp;&nbsp;Back
				          </button>
				          <button ion-button small round outline ionicStepperNext>Next&nbsp;&nbsp;
				          <ion-icon name="skip-forward"></ion-icon>
				          </button>
				        </ion-buttons>
					</ion-col>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-step>
		<ion-step>
			<h1 text-center>Role Details</h1>
			<ion-grid>
				<ion-row>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
					<ion-col col-sm-12 col-12 col-md-6>
						<ion-item *ngIf="level > 0"  text-wrap (click)="resetRole()">
							<h3>Role</h3>
							<p text-center style="color: #32db64">{{roleString}}</p> 
							<ion-icon style="color: #32db64" name="close" item-end></ion-icon>
						</ion-item>
						<ion-item *ngIf="schoolSelected" (click)="unselectSchool()" text-wrap>
							<h3>School</h3>
							<p> {{school?.name}} </p>
							<ion-icon name="close" item-end></ion-icon>
						</ion-item>
						<h3 *ngIf="!roleComplete" text-center>Select your role below</h3>
						<ion-list *ngIf="!roleComplete" text-center>
							<button color="primary" ion-item *ngFor="let role of roles" text-center (click)="selectRole(role)">
								{{role}}
							</button>
						</ion-list>
						<div  style="padding-top: 20px" *ngIf="showSchoolPrompt">
							<h2 *ngIf='newSchool && !schoolSelected' text-center style="color: #488aff">Enter School Details</h2>
							<h2 *ngIf='!newSchool && !schoolSelected' text-center style="color: #488aff">Enter School</h2>
							<ion-item *ngIf="!schoolSelected">
					  			<ion-label stacked>School Name</ion-label>
					  			<ion-input type="text" [(ngModel)]="school.name" autocorrect="off"></ion-input>
					  		</ion-item>
							<ion-item *ngIf="!schoolSelected">
					  			<ion-label stacked>Re-type School Name</ion-label>
					  			<ion-input type="text" [(ngModel)]="searchTxt" (keyup)="school_autocomplete($event)" autocorrect="off"></ion-input>
					  		</ion-item>
					  		<ion-list *ngIf="!schoolSelected">
								<ion-item *ngFor="let pred of schoolPredictions" (click)="selectSchool(pred)">
									{{pred.description}}
								</ion-item>
							</ion-list>
							<ion-buttons *ngIf="!schoolSelected && !newSchool && (searchTxt.length > 3)" end>
								<button  ion-button clear color="danger" (click)="caputureNewSchool()" >School not appearing ?</button>
							</ion-buttons>
					      	<ion-item *ngIf='newSchool && !schoolSelected' padding>
					        	<ion-label stacked>Province</ion-label>
					        	<ion-input type="text" [(ngModel)]="school.address.province" autocorrect="off"></ion-input>
					     	</ion-item>
					  		<ion-item *ngIf='newSchool && !schoolSelected' padding>
					  			<ion-label stacked>District</ion-label>
					  			<ion-input type="text" [(ngModel)]="school.address.district" autocorrect="off"></ion-input>
					  		</ion-item>
						</div>
						<div *ngIf="schoolSelected && (isLearner || isTeacher)">
							<h2>Add Subjects</h2>
							<ion-item>
								<ion-label stacked>Grade</ion-label>
								<ion-input type="text" [(ngModel)]="grade" (keyup)="gradesAutocomplete()"></ion-input>
							</ion-item>
							<ion-list>
								<ion-item *ngFor="let grd of gradesArry" (click)="addGrade(grd)">
									{{grd}}
								</ion-item>
							</ion-list>
							<ion-item>
								<ion-label stacked>Subject</ion-label>
								<ion-input type="text" [(ngModel)]="subjectField" (keyup)="subjectsAutocomplete()"></ion-input>
							</ion-item>
							<ion-list>
								<ion-item *ngFor="let subject of subjectsArry" (click)="addSubject(subject)">
									{{subject}}
								</ion-item>
							</ion-list>
							<!-- <ion-buttons end>
								<button ion-button ><ion-icon name="add" (click)="addSubject()"></ion-icon></button>
							</ion-buttons> -->
							<ion-list margin-vertical>
								<ion-item *ngFor="let subject of subjects" text-wrap 
								style="background: silver; border-radius: 6px" (click)="deleteSubject(subject)">
									<p>{{subject}}</p>
									<ion-icon name="close" item-end></ion-icon>
								</ion-item>
							</ion-list>
						</div>
						<div *ngIf="schoolSelected && isParent">
							<h2>Add Your Children</h2>
							
							<ion-item>
								<ion-label stacked>Childs First and Last Name</ion-label>
								<ion-input type="text" (keyup)="updateChild($event)"></ion-input>
							</ion-item>
							<ion-buttons end>
								<button ion-button><ion-icon name="add" (click)="addChild()"></ion-icon></button>
							</ion-buttons>
							<ion-list margin-vertical>
								<ion-item text-wrap *ngFor="let child of childrenNames" 
								style="background: silver; border-radius: 6px" (click)="deleteChild(child)">
									<p>{{child}}</p>
									<ion-icon name="close" item-end></ion-icon>
								</ion-item>
							</ion-list>
						</div>
						<ion-buttons text-center margin-vertical>
				          <button ion-button round outline small ionicStepperPrevious>
				            <ion-icon name="skip-backward"></ion-icon> &nbsp;&nbsp;Back
				          </button>
				          <button ion-button small round outline *ngIf="roleComplete" (click)="register()">Register&nbsp;&nbsp;
				          <ion-icon name="skip-forward"></ion-icon>
				          </button>
				        </ion-buttons>
					</ion-col>
					<ion-col col-sm-0 col-0 col-md-3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-step>
	</ion-stepper>
</ion-content>
