<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="tabbs">
    <ion-title text-center>
    	<span style="float: left">
    		<img src="assets/imgs/school_lms.png" width="40px" height="40px">
    	</span>
    	<span padding>
    		<h3 style="display: inline;">Profile&nbsp;&nbsp;&nbsp;<ion-icon name="person"></ion-icon></h3>
    	</span>
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				<ion-item no-lines color="tabbs">
					<ion-buttons end padding-vertical>
				  		<button ion-button clear style="color: white" (click)="edit()">
				  			<ion-icon name="ios-create" start></ion-icon> 
				  		</button>
				  	</ion-buttons>
					<div text-center>
						<img src="{{user?.profile?.dp}}" width="200px" height="200px" class="round" alt="User display picture"/>
					</div>
					<h1 text-center>	
				  		{{user?.profile?.firstname}} {{user?.profile?.lastname}} 
				    </h1>
				    <h4 text-center> ~ {{user?.school_name}} ( {{user?.type}} ) </h4>
				    <ion-buttons end>
				    	<button ion-button clear (click)="logout()">
				    		<ion-icon name="power"></ion-icon>
				    	</button>
				    </ion-buttons>
				</ion-item>
				<ion-grid no-padding *ngIf="!editProfile">
					<ion-row>
						<ion-col col-3>
							<button ion-button full color="secondary" (click)="showAlert('App store', 'download apps')">
								<ion-icon name="appstore"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-3 >
							<button ion-button full (click)="showAlert('Investments', 'Manage your investments')">
								<ion-icon name="trending-up"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-3>
							<button ion-button full color="danger" (click)="showAlert('Online shopping', 'Shop online for whatever')">
								<ion-icon name="cart"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-3>
							<button ion-button full (click)="showAlert('eWallet', 'Manage your electronic wallet')">
								wallet
							</button>
						</ion-col>
					</ion-row>
				</ion-grid>
				<ion-grid *ngIf="!editProfile">
					<ion-row>
						<ion-col col-6 col-md-6>
							Earning type
						</ion-col>
						<ion-col col-6 col-md-6>
							Amount
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-6 col-md-6>
							Available
						</ion-col>
						<ion-col col-6 col-md-6>
							0.00
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-6 col-md-6>
							Savings
						</ion-col>
						<ion-col col-6 col-md-6>
							0.00
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-6 col-md-6>
							Total
						</ion-col>
						<ion-col col-6 col-md-6>
							0.00
						</ion-col>
					</ion-row>
				</ion-grid>
				<div *ngIf="editProfile">
					<ion-item>
					  <ion-label>Title</ion-label>
					  <ion-select [(ngModel)]="user.profile.title" required>
					    <ion-option value="Mr">Mr</ion-option>
					    <ion-option value="Mrs">Mrs</ion-option>
					    <ion-option value="Ms">Ms</ion-option>
					    <ion-option value="Dr">Dr</ion-option>
					    <ion-option value="Other">Other</ion-option>
					  </ion-select>
					</ion-item>
					<ion-item>
					  <ion-label floating>First Name</ion-label>
					  <ion-input type="text" [(ngModel)]="user.profile.firstname" required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>Last Name</ion-label>
					  <ion-input type="text" [(ngModel)]="user.profile.lastname" required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>Identity/Passport number</ion-label>
					  <ion-input type="password" [(ngModel)]="user.profile.id_or_password" required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label>Gender</ion-label>
					  <ion-select [(ngModel)]="user.profile.gender" required>
					    <ion-option value="Male">Male</ion-option>
					    <ion-option value="Female">Female</ion-option>
					    <ion-option value="N/A">N/A</ion-option>
					  </ion-select>
					</ion-item>
					<ion-item>
					  <ion-label floating>Cell Number</ion-label>
					  <ion-input type="number" [(ngModel)]="user.profile.cell_number" required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>Home Number</ion-label>
					  <ion-input type="number" [(ngModel)]="user.profile.home_number"  required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>Work Number</ion-label>
					  <ion-input type="number" [(ngModel)]="user.profile.work_number"  required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>Email Address</ion-label>
					  <ion-input type="email" [(ngModel)]="user.profile.email"  required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label floating>uid</ion-label>
					  <p>{{user?.profile?.uid}}</p>
					</ion-item>
					<ion-buttons end padding>
						<button ion-button>Save</button>
					</ion-buttons>
				</div>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
