<ion-header>
  <ion-navbar color="tabbs">
    <ion-title text-center>
    	<span style="float: left">
    		<img src="assets/imgs/school_lms.png" width="40px" height="40px">
    	</span>
    	<span padding>
    		<h3 style="display: inline;">{{channel?.name}} &nbsp;&nbsp;&nbsp;<ion-icon name="ios-git-network"></ion-icon></h3>
    	</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-grid no-padding>
		<ion-row>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				<ion-item no-lines text-wrap>
					<ion-buttons end>
						<button ion-button small icon-end (click)="showAdd()" >
							<div>
								invite
								<ion-icon name="add"></ion-icon>
							</div>
						</button>
						<button ion-button small clear>
							<div style="color: #32db64">
								admin ~ {{channel?.creator?.firstname}} {{channel?.creator?.lastname}}
							</div>
						</button>
					</ion-buttons>
				</ion-item>
				<div *ngIf="addUser" padding-vertical>
		        	<h2 text-center>Add new user</h2>
		            <ion-item>
		              <ion-label stacked>User name</ion-label>
		              <ion-input [(ngModel)]="userName" (keyup)="autocomplete()"></ion-input>
		            </ion-item>
		            <ion-list>
		            	<ion-item *ngFor="let pred of predictions" (click)="add(pred)">
		            		{{pred.profile.firstname}} {{pred.profile.lastname}}
		            	</ion-item>
		            </ion-list>
		            <ion-buttons end>
		            	<button ion-button small color="danger" (click)="cancel()">cancel</button>
		            </ion-buttons>
		        </div>
				<div *ngIf="!addUser" #scroller text-wrap no-lines class="chatroom_messages">
					<ion-list>
						<ion-card *ngFor="let msg of channelMessages">
						  <ion-item>
						    <ion-avatar item-start>
						      <img src="{{msg?.by?.dp}}">
						    </ion-avatar>
						    {{msg?.by?.firstname}}  {{msg?.by?.lastname}}
						  </ion-item>
						  <ion-card-content>
						    <p>{{msg?.text}}</p>
						  </ion-card-content>
						  <ion-row>
						  	<ion-col>
						  	</ion-col>
						    <ion-col>
						      <!-- <button ion-button icon-start clear small>
						        <ion-icon name="text"></ion-icon>
						        <div>{{message?.comments?.length}} Comments</div>
						      </button>
 -->						</ion-col>
						    <ion-col center text-center>
						      <ion-note>
						      	{{msg?.timeStamp | timeAgo }}
						      </ion-note>
						    </ion-col>
						  </ion-row>
						</ion-card>
					</ion-list>
				</div>
				<ion-item class="chatroom_input">
          			<ion-textarea rows="2" placeholder="Type message here..." [(ngModel)]="text" 
          			(keydown)="handleSubmit($event)"></ion-textarea>
		            <button ion-button clear item-right (click)="send(); scrollToBottom()">
		              <ion-icon name="send" style="font-size: 30px"></ion-icon>
		            </button>
        		</ion-item>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
