// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.round{
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.alertCtrl{
	text-align: center;
}

.alert-title{
	text-align: center;
}

.alert-sub-title{
	text-align: center;
	color: #32db64;
}

ion-content{
	font-family: 'Raleway', sans-serif;
}

.chatroom_header{
	  
}

.chatroom_messages{
	margin-bottom: 13%;
}

.chatroom_input{
	position: fixed;
	 bottom: 0; 
	 left: 0; 
	 right: 0; 
	 height: 10%; 
	 width: 100%; 
	 background: #EBF5FB;
}

@media (min-width: 800px){

	.chatroom_header{
		 
	}

	.chatroom_messages{
		
	}

	.chatroom_input{
		position: fixed;
		 bottom: 0; 
		 left: 20%; 
		 right: 20%; 
		 height: 12%; 
		 width: 60%;
		 background: #EBF5FB;
	}

}