<!--
  Generated template for the SupportDevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabbs">
    <ion-title text-center>
    	<span style="float: left">
    		<img src="assets/imgs/school_lms.png" width="40px" height="40px">
    	</span>
    	<span padding>
    		<h3 style="display: inline;">Devices &nbsp;&nbsp;&nbsp;<ion-icon name="desktop"></ion-icon></h3>
    	</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				<ion-buttons>
					<button (click)="addDevice()" small ion-button>add device / sim</button>
					<button *ngIf="deviceBeingAdded || deviceBeingEdited" ion-button color="danger" (click)="cancel()"> Cancel</button>
				</ion-buttons>
				<ion-item padding margin-vertical>
					<ion-label>list of</ion-label>
					<ion-select>
						<ion-option (ionSelect)="showDevices()">Devices</ion-option>
						<ion-option (ionSelect)="showSimCards()">Sims</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!deviceBeingAdded && !deviceBeingEdited && showSims">
					<h1 text-center>Sims on system</h1>
					<ion-list>
						<ion-grid>
							<ion-row style="border: 1px solid lightgray">
								<ion-col>
									<b>Phone no</b>
								</ion-col>
								<ion-col>
									<b>PUK no</b>
								</ion-col>
								<ion-col>
									<b>Provider</b>
								</ion-col>
							</ion-row>
							<ion-row padding-vertical style="border-bottom: 1px solid lightgray" *ngFor="let devc of sims | async">
								<ion-col text-wrap>
									{{devc?.phone_no}}
								</ion-col>
								<ion-col text-wrap>
									{{devc?.puk}}
								</ion-col>
								<ion-col text-wrap>
									{{devc?.provider_name}}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-list>
				</div>
				<div *ngIf="!deviceBeingAdded && !deviceBeingEdited && !showSims">
					<h1 text-center>Devices on system</h1>
					<ion-list>
						<ion-grid>
							<ion-row style="border: 1px solid lightgray">
								<ion-col>
									<b>Model no</b>
								</ion-col>
								<ion-col>
									<b>Manufacturer</b>
								</ion-col>
								<ion-col>
									<b>Type</b>
								</ion-col>
							</ion-row>
							<ion-row padding-vertical style="border-bottom: 1px solid lightgray" *ngFor="let devc of devices | async">
								<ion-col>
									{{devc?.model}}
								</ion-col>
								<ion-col>
									{{devc?.manufacturer}}
								</ion-col>
								<ion-col>
									{{devc?.type}}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-list>
				</div>
				<div *ngIf="deviceBeingAdded">
					<h2 text-center>Register a device</h2>
				  <fieldset>
				    <legend>School &amp; Supplier details</legend>
				    <ion-item padding>
				      <ion-label stacked>School Name</ion-label>
				      <ion-input type="text" [(ngModel)]="searchTxt" (keyup)="school_autocomplete($event)" autocorrect="off"></ion-input>
				    </ion-item>
				    <ion-list>
				      <ion-item *ngFor="let pred of schoolPredictions" (click)="selectSchool(pred)">
				        {{pred?.description}}
				      </ion-item>
				    </ion-list>
				    <ion-item padding>
				      <ion-label stacked>Supplier Name</ion-label>
				      <ion-input type="text" [(ngModel)]="supplierTxt" (keyup)="supplierAutocomplete()" autocorrect="off"></ion-input>
				    </ion-item>
				    <ion-list>
				      <ion-item *ngFor="let pred of supplierPredictions" (click)="selectSupplier(pred)">
				        {{pred?.company_name}}
				      </ion-item>
				    </ion-list>
				  </fieldset>
				  <fieldset margin-top>
				   <legend>Device details</legend> 
				   <ion-item>
				    <ion-label>Device type</ion-label>
				    <ion-select  [(ngModel)]="device.type">
				      <ion-option value="Tablet">Tablet</ion-option>
				      <ion-option value="Laptop">Laptop</ion-option>
				      <ion-option value="Server">Server</ion-option>
				      <ion-option value="SmartBoard">Smart board</ion-option>
				      <ion-option value="SimCard" (ionSelect)="simCapture()" >Sim Card</ion-option>
				      <ion-option value="Watch">Watch</ion-option>
				      <ion-option value="Glass">Glass</ion-option>
				      <ion-option value="Phone">Phone</ion-option>
				    </ion-select>
				   </ion-item>
				   <div #sim *ngIf="isSim">
					   <ion-item>
						   	<ion-label stacked>Sim number</ion-label>
						   	<ion-input [(ngModel)]="simC.sim_no"></ion-input>
					   </ion-item>
					   <ion-item>
						   	<ion-label stacked>PUK number</ion-label>
						   	<ion-input [(ngModel)]="simC.puk"></ion-input>
					   </ion-item>
					   <ion-item>
						   	<ion-label stacked>Phone number</ion-label>
						   	<ion-input [(ngModel)]="simC.phone_no"></ion-input>
					   </ion-item>
					   <ion-item>
						   	<ion-label stacked>Sim provider</ion-label>
						   	<ion-select [(ngModel)]="simC.provider_name">
						   		<ion-option value="MTN" >MTN</ion-option>
						   		<ion-option value="Vodacom" >Vodacom</ion-option>
						   		<ion-option value="CellC" >Cell C</ion-option>
						   		<ion-option value="Telkom" >Telkom</ion-option>
						   		<ion-option value="Virgin" >Virgin</ion-option>
						   		<ion-option value="Neotel" >Neotel</ion-option>
						   	</ion-select>
					   </ion-item>
					   <ion-item>
						   	<ion-label stacked>Sim plan</ion-label>
						   	<ion-select [(ngModel)]="simC.plan">
						   		<ion-option value="prepaid">Prepaid</ion-option>
						   		<ion-option value="contract">Contract</ion-option>
						   		<ion-option value="no plan">No plan C</ion-option>
						   	</ion-select>
					   </ion-item>
					</div>
					<div *ngIf="!isSim">
						<ion-item>
						    <ion-label stacked>Model number</ion-label>
						    <ion-input [(ngModel)]="device.model"></ion-input>
						   </ion-item>
						   <ion-item>
						    <ion-label stacked>Manufacturer e.g. Dell</ion-label>
						    <ion-input [(ngModel)]="device.manufacturer"></ion-input>
						 </ion-item>
					</div>
				  </fieldset>
				  <ion-buttons>
				    <button *ngIf="!isSim" ion-button margin-vertical full color="secondary" (click)="register()">Register device</button>
				    <button *ngIf="isSim" ion-button margin-vertical full color="secondary" (click)="saveSim()">Register sim</button>
				    <button ion-button color="danger" (click)="cancel()"> Cancel</button>
				  </ion-buttons>
				</div>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
